<!DOCTYPE html>
<html lang="en">
<head>
<title>AI大课堂</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../static/server_static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/server_static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../../static/server_static/css/fullcalendar.css" />
<link rel="stylesheet" href="../../static/server_static/css/matrix-style.css" />
<link rel="stylesheet" href="../../static/server_static/css/matrix-media.css" />
<link rel="stylesheet" href="../../static/server_static/css/advertise.css" />
<link href="../../static/server_static/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="../../static/server_static/css/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="#">MatAdmin</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" >
        <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>
            <span class="text">欢迎Admin</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a href="login.html"><i class="icon-key"></i> 退出</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="输入搜索内容..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 控制台</a>
  <ul>
    <li class="active"><a href="/index"><i class="icon icon-home"></i> <span>首页</span></a> </li>
    <li> <a href="/course_list"><i class="icon icon-signal"></i> <span>课程信息</span></a> </li>
    <li> <a href="/teacher_list"><i class="icon icon-inbox"></i> <span>教师信息</span></a> </li>
    <li><a href="/student_list"><i class="icon icon-th"></i> <span>学生信息</span></a></li>
    <li><a href="/course_selected"><i class="icon icon-fullscreen"></i> <span>选课</span></a></li>
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage">
    </div>
<!--End-Action boxes-->    

<!--Chart-box-->    
    <div class="row-fluid">
      <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
          <h5>网站统计</h5>
        </div>
        <div class="widget-content" >
          <div class="row-fluid">
            <div class="span9">
                <div id="slidy-container">
                    <figure id="slidy">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/eyes.jpg" alt="eyes" >
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lou.jpg" alt="lou" >
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lucie-2.jpg" alt="lucie-2" >
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lucie.jpg" alt="lucie" >
                    </figure>
                </div>
            </div>
            <div class="span3">
              <ul class="site-stats">
                <li class="bg_lh"><i class="icon-book"></i> <strong>20</strong> <small>课程</small></li>
                <li class="bg_lh"><i class="icon-user"></i> <strong>8</strong> <small>教师</small></li>
                <li class="bg_lh"><i class="icon-user-md"></i> <strong>215</strong> <small>学生</small></li>
                <li class="bg_lh"><i class="icon-hand-up"></i> <strong>82</strong> <small>活跃度</small></li>
                <li class="bg_lh"><i class="icon-desktop"></i> <strong>10</strong> <small>教室</small></li>
                <li class="bg_lh"><i class="icon-globe"></i> <strong>8540</strong> <small>Online Orders</small></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--End-Chart-box-->
  </div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="#"></a> </div>
</div>

<!--end-Footer-part-->
<script src="../../static/server_static/js/advertise.js"></script>
<script src="../../static/server_static/js/excanvas.min.js"></script>
<script src="../../static/server_static/js/jquery.min.js"></script>
<script src="../../static/server_static/js/jquery.ui.custom.js"></script>
<script src="../../static/server_static/js/bootstrap.min.js"></script>
<script src="../../static/server_static/js/jquery.flot.min.js"></script>
<script src="../../static/server_static/js/jquery.flot.resize.min.js"></script>
<script src="../../static/server_static/js/jquery.peity.min.js"></script>
<script src="../../static/server_static/js/fullcalendar.min.js"></script>
<script src="../../static/server_static/js/matrix.js"></script>
<script src="../../static/server_static/js/matrix.dashboard.js"></script>
<script src="../../static/server_static/js/jquery.gritter.min.js"></script>
<script src="../../static/server_static/js/matrix.interface.js"></script>
<script src="../../static/server_static/js/matrix.chat.js"></script>
<script src="../../static/server_static/js/jquery.validate.js"></script>
<script src="../../static/server_static/js/matrix.form_validation.js"></script>
<script src="../../static/server_static/js/jquery.wizard.js"></script>
<script src="../../static/server_static/js/jquery.uniform.js"></script>
<script src="../../static/server_static/js/select2.min.js"></script>
<script src="../../static/server_static/js/matrix.popover.js"></script>
<script src="../../static/server_static/js/jquery.dataTables.min.js"></script>
<script src="../../static/server_static/js/matrix.tables.js"></script>
<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
